/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap");

/* font-family: "Bebas Neue", sans-serif; */
/* font-family: "Outfit", sans-serif; */

:root {
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;

  --color-primary: #ec4c40;
  --color-secondary: #eeb330;
  --color-tertiary: rgba(0, 169, 231, 0.3);

  --bg-color: #f3f6f9;

  --heading-46: clamp(21px, 5vw + 10px, 46px);
}

/* * {
  transition: all 1s linear;
} */
body,
style,
html {
  font-family: var(--font-primary);
  font-size: 16px;
}
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-primary);
}

.color-tertiary {
  color: var(--color-tertiary);
}
.bg-c-tertiary {
  background-color: var(--color-tertiary);
}

.bg-c-primary {
  background-color: var(--color-primary);
}
.search-btn:hover {
  background-color: var(--color-primary);
  opacity: 0.8;
}
.idea-btn:hover {
  background-color: var(--color-primary);
  opacity: 0.8;
}
.bg-c-secondary {
  background-color: var(--color-secondary);
}

.bg-light {
  background-color: var(--bg-color);
}
input.form-control {
  border-radius: 5px 0px 0px 5px;
  padding: 8px;
}
.list-style-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hover-70:hover {
  opacity: 0.7;
}
/* button:hover {
  background-color: red;
} */
button.accordion-button.collapsed {
  background-color: #f3f5f9;
  margin-bottom: 5px;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #f3f5f9;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-item {
  margin-bottom: 12px;
  border: none;
}
.bg-md-light {
  background-color: var(--bg-color);
}

.position-lg-absolute {
  position: relative;
}
.line-8 {
  line-height: 1.1;
}
.w-full {
  width: 100%;
}

.size-40 {
  width: 40px;
  height: 40px;
}

.tracking-2 {
  letter-spacing: 2px;
}

main {
  padding-top: 214px;
}

.font-28 {
  font-size: clamp(16px, 2vw + 10px, 28px);
}
.font-12 {
  font-size: 12px;
}
.bg-opacity-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  .md-px-90 {
    padding-left: 90px;
    padding-right: 90px;
  }
  .bg-md-light {
    background-color: transparent;
  }
  .position-lg-absolute {
    position: absolute;
  }
  .line-8 {
    line-height: 1;
  }
  .flex-lg-fill-none {
    flex: 0 0 auto !important;
  }
}

/* Header */
.responsive-header {
  position: absolute;
}

/* Banner */
.banner {
  background-color: #000;
  background-image: url("./assets/banner.png");
  background-size: cover;
}
.banner .content {
  height: 300px;
}

.banner .content h1 {
  font-size: clamp(21px, 9vw + 10px, 99px);
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.35);
}

.banner .content p {
  font-size: clamp(21px, 5vw + 10px, 56px);
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .banner .content {
    height: 600px;
  }
}

@media (min-width: 992px) {
  .responsive-header {
    position: relative;
  }

  main {
    padding-top: 0;
  }
}

/* Text Content Area */

.text-content {
  padding-top: 65px;
  padding-bottom: 65px;
}

.heading-46 {
  font-size: var(--heading-46);
}

/* Blog Area */

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Skills */
.image-hover-wrapper {
  overflow: hidden;
}

.image-hover-wrapper img {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.image-hover-wrapper:hover img {
  opacity: 1;
}

.overlay-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none; /* Allows hover events to pass through */
}

/* Map */
.map {
  background-image: url("./assets/map.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Footer Logo */
.footer-logo {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.mt-100 {
  margin-top: 100px;
}

.bg-black {
  background-color: #000;
}
/* trip */

.trip {
  background-image: url(./assets/11.png);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 15px;
  position: relative;
}

.background-image {
  backdrop-filter: brightness(0.5);
  padding: 60px 60px;
  border-radius: 15px;
}
